<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :object_id %>
    <%= form.number_field :object_id, id: :customer_object_id %>
  </div>

  <div class="field">
    <%= form.label :object_type %>
    <%= form.text_field :object_type, id: :customer_object_type %>
  </div>

  <div class="field">
    <%= form.label :object_changes %>
    <%= form.text_field :object_changes, id: :customer_object_changes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
